version: "3.9"

services:
  c2c_scraper_init:
    build: 
      context: .
      dockerfile: dockerfiles/c2c_scraper.dockerfile
    container_name: c2c_scraper_init_container
    env_file:
      - .env.runtime
    volumes:
      - ./data:/app/data          # persistent SQLite storage
    command: ["init"]            # default action

  c2c_scraper:
    build: 
      context: .
      dockerfile: dockerfiles/c2c_scraper.dockerfile
    container_name: c2c_scraper_container
    env_file:
      - .env.runtime
    volumes:
      - ./data:/app/data          # persistent SQLite storage
    command: ["update"]            # default action

  mf_scraper:
    build: 
      context: .
      dockerfile: dockerfiles/mf_scraper.dockerfile
    container_name: mf_scraper_container
    env_file:
      - .env.runtime
    volumes:
      - ./data:/app/data          # persistent SQLite storage
    command: ["update_weather_hist"]            # default action